/* Global */
html {
  min-height: 100%;
}

body {
  font-family: "Cousine", monospace;
  color: #839496;
  padding: 20px;
}

h1,
h2,
h3 {
  font-family: "Libre Baskerville", serif;
}

h1 {
  color: #2aa198;
}

h2 {
  color: #268bd2;
}

h3 {
  color: #6c71c4;
}

b {
  color: #cb4b16;
}

.bountyheader {
  font-size: 1.5rem;
  color: #2aa198;
}

#console {
  height: 100px;
}

#particles-js {
  position: absolute;
  height: 100%;
  width: 100%;
}

.typewriter > span {
  border-right: 0.05em solid;
  animation: caret 0.7s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}
