/*-------------------------------------------
  Start Main Content
-------------------------------------------*/
#a3 .el-preloader {
  background: #fafafb;
}
#a3 .el-bg-block .overlay-color-bg {
  background: white;
}
#a3 .el-main-content .top-text .big-text {
  color: #06060c;
}
#a3 .el-main-content .top-text .sub-text {
  color: #484854;
  font-weight: 600;
}
#a3 .el-main-content .counter span.number,
#a3 .el-main-content .counter span.text {
  color: #06060c;
}
#a3 .el-main-content .social-block a {
  color: #06060c;
}
#a3 .main-pull-button .close-button a {
  color: #06060c;
}
#a3 .modal-backdrop {
  background: white !important;
}
#a3 .el-modal .modal-content {
  background: white;
  -webkit-box-shadow: 0px 0px 32px 0px rgba(6, 6, 12, 0.2);
  box-shadow: 0px 0px 32px 0px rgba(6, 6, 12, 0.2);
}
#a3 .el-modal button.close i {
  color: #06060c;
}
#a3 .el-modal .modal-title {
  color: #06060c;
}
#a3 .el-modal .icon {
  color: rgba(0, 0, 0, 0.1);
}
#a3 .el-modal .modal-body input {
  border-color: rgba(0, 0, 0, 0.3) !important;
  color: #06060c !important;
}
#a3 .el-modal .modal-body input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5) !important;
}
#a3 .el-modal .modal-body input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.5) !important;
}
#a3 .el-modal .modal-body input:-moz-placeholder {
  color: rgba(0, 0, 0, 0.5) !important;
}
#a3 .el-modal .modal-body input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5) !important;
}
#a3 .el-modal .modal-body input:-placeholder {
  color: rgba(0, 0, 0, 0.5) !important;
}
#a3 .el-modal .modal-body input:focus {
  color: #06060c !important;
  border-color: #06060c !important;
}
#a3 .el-more-information .el-side-pusher {
  background: #fafafb;
}
#a3 .el-more-information .el-mini-nav a span {
  color: #06060c;
  font-weight: 700;
}

/*-------------------------------------------
  End Main Content
-------------------------------------------*/
